# Orchestration
apache-airflow-providers-google
apache-airflow-providers-docker
apache-airflow-providers-odbc

# Utilities
apache-airflow-providers-google
duckdb >= 0.10.0
pyarrow
# airflow-operators
pytest
pyodbc